.loader {
    position: fixed;
    z-index: 9999;
    opacity: 0.95;
    background: url('../img/loader.gif') 50% 50% no-repeat #fff;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: progress;
}

.app-main-margin { margin-bottom: 10px; }
.app-main-dropdown { background-color: #ffffff; }
.app-main-btn:hover { background-color: #966fbd; }
.app-main-pagination, .app-main-pagination:hover, .app-main-color, .app-main-dropdown { color: #b482e6; }
.app-main-border, .app-main-dropdown { border: 1px solid #b482e6; }
.app-main-pagination-active, .app-main-pagination-active:hover, .app-main-bg, .app-main-btn, .app-main-dropdown:hover, .app-main-dropdown-item:hover, .app-main-dropdown:focus { background-color: #b482e6; }
.app-main-pagination-active, .app-main-pagination-active:hover, .app-main-btn:hover, .app-main-bg, .app-main-btn, .app-main-dropdown:hover, .app-main-dropdown-item:hover, .app-main-dropdown:focus { color: #ffffff; }
.app-main-border-top {
    border-width: 50px;
    border-top: 1px solid #b482e6;
}

